# Verification

Coming soon! For now use the [old instructions](https://docs.balancer.fi/developers/guides/pool-verification). Instead of using Tenderly, you can generate the data with [balpy's Pool Verification script.](https://github.com/balancer-labs/balpy/tree/main/samples/poolVerification)
